@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "src/assets-sources/scss/app/mixins/flex";

.home-tab-container {
  display: grid;
  grid-template-columns:  auto;
  column-gap: 16px;
  padding: 0.5rem;
  grid-template-areas: 'safe' 'info';



  .info {
    grid-area: info;


  }

  .safe {
    grid-area: safe;
    padding: 0.5rem;
    @include flexbox();
    @include justify-content(center);
    @include flex-wrap(nowrap);
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: visible;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
      overflow-x:visible;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
  }
}



@include media-breakpoint-down(sm) {
  .home-tab-container {
    grid-template-columns: 100%;
    grid-template-areas: 'safe' 'info';
    row-gap: 8px;
  }
}
