<div class="h-100 p-1 p-md-2  fadeInUp">
  <div *ngIf="!totalListItemsCounter;else list" class="p-1 py-lg-2">
    <mat-card *ngIf="!fetching;else phContent" class="mw-600-px bl-primary-3">
      <h1 class="mat-title">{{'NO_RESULT'|translate}}</h1>
    </mat-card>

    <ng-template #phContent>
      <div *ngFor="let asset of placeholderItems" class="pb-1">
        <ng-container *ngTemplateOutlet="phItem"></ng-container>
      </div>
    </ng-template>
  </div>

  <ng-template #list>
    <mat-card class="h-100 p-0">
      <div #headerScroll class="header-wrapper bb-divider  overflow-x-auto  " [class.hasClient]="clients?.length>1">
        <div class="text-center"></div>        
        <div class="title-item">{{'PLATE'|translate}}</div>
        <div class="title-item">{{'TRAILER'|translate}}</div>
        <div class="title-item">{{'ACTOR_ROAD'|translate}}</div>
        <div class="title-item">{{'TELEPHONE'|translate}}</div>
        <div class="title-item">{{'SHIFT_ASSIGNMENT'|translate}}</div>
        <div class="title-item">{{'INSTALLATION_TYPE'|translate}}</div>
        <div class="title-item">{{'NAME'|translate}}</div>
        <div class="title-item">{{'LAST_LOCATION'|translate}}</div>
        <div class="title-item">{{'TIME_OF_ENTRY'|translate}}</div>
        <div class="title-item">{{'ALERT_LEVEL_1'|translate}}</div>
        <div class="title-item">{{'ALERT_LEVEL_2'|translate}}</div>
        <div class="title-item">{{'ALERT_LEVEL_3'|translate}}</div>
        <div class="title-item">{{'ALERT_LEVEL_4'|translate}}</div>
        <div class="title-item">{{'PERMANENCE_TIME'|translate}}</div>
        <div class="title-item">{{'STAMP'|translate}}</div>
        <div *ngIf="clients?.length>1" class="title-item">{{'CLIENT'|translate}}</div>



      </div>

      <cdk-virtual-scroll-viewport #cdkScroller (scroll)="updateScroll(headerScroll,$event)" class="w-100"
        itemSize="48">
        <div *cdkVirtualFor="let permanence of listItems$ | async" class="w-100">
            <adms-permanence-item *ngIf="!fetching;else phItem" [permanence]="permanence" 
              (refrehsList)="getListData()" [actionsCapabilities]="listHeaderState.actionsCapabilities"
              [viewClienInfo]="clients?.length>1">
            </adms-permanence-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </ng-template>

</div>


<ng-template #phItem>
  <mat-card class="ph-wrapper p-0 bb-divider">
    <div class="ph-item align-items-center p-0 h-100">
      <div>
        <div class="ph-row m-0">
          <div class="ph-col-3 big ph-brightness m-0"></div>
          <div class="ph-col-1 empty"></div>
          <div class="ph-col-3 big ph-brightness m-0"></div>
          <div class="ph-col-1 empty"></div>
          <div class="ph-col-4 big ph-brightness m-0"></div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>