.item-wrapper {
  display: grid;
  grid-template-columns:  repeat(8, 180px);
  column-gap: 16px;
  align-items: center;
  height: 48px;
  padding: 0 16px;

  &.mainAction{
    grid-template-columns:   40px repeat(8, 200px);
  }

  .item-content {
    text-align: center;
    font-size: 0.8rem;

  }
}

:host ::ng-deep {
  .mat-checkbox-layout {
    margin: 0;
  }
}
