<div class="filter-bottom-sheet">
  <div class="filter-bottom-sheet-title">
    <h5>{{'FILTER_WORKDAYS_SETTING'| translate}}</h5>
    <mat-divider></mat-divider>
  </div>

  <form [formGroup]="formGroup" class="grid grid-md-2 align-items-center pt-3" id="filterForm">

    <adms-select *ngIf="data?.clients?.length >1" [ctrl]="formGroup.get('cliente__in')" [multiple]="true"
      [options]="data.clients" placeholder="{{'CARRIER'|translate}}">
    </adms-select>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'WORKDAY_DURATION_GTE'|translate}}"
        formControlName="workday_duration__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'WORKDAY_DURATION_LTE'|translate}}"
        formControlName="workday_duration__lte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'WORKDAY_ALERT_GTE'|translate}}"
             formControlName="workday_alert__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'WORKDAY_ALERT_LTE'|translate}}"
             formControlName="workday_alert__lte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'REST_ALERT_GTE'|translate}}"
             formControlName="rest_alert__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'REST_ALERT_LTE'|translate}}"
             formControlName="rest_alert__lte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'REST_LIMIT_SPEED_GTE'|translate}}"
             formControlName="rest_limit_speed__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'REST_LIMIT_SPEED_LTE'|translate}}"
             formControlName="rest_limit_speed__lte">
    </mat-form-field>

  </form>
</div>

<div class="filter-bottom-sheet-controls">
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <button (click)="close($event,false, false)" class="m-1" mat-button type="button">
        {{'CANCEL'| translate}}
      </button>
      <button class="m-1" form="filterForm" mat-raised-button type="reset">{{'CLEAR'| translate}}</button>
      <button (click)="close($event,true, true)" class="m-1" color="primary" mat-raised-button type="button">
        {{'FILTER'| translate}}
      </button>
    </div>
  </div>
</div>
