.ph-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    height: 108px;
  
    .ph-item {
      height: 100%;
      width: 100%;
  
      .ph-picture{
        height: 60px;
        width: 60px;
      }
    }
  }
  