.ph-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0;
  height: 95px;

  .ph-item {
    height: 100%;
    width: 100%;

    .ph-picture{
      height: 60px;
      width: 60px;
    }
  }
}


.my-component-bottom-sheet {
  min-height: 100%;
  min-width: 100% !important;
}
