<div *ngIf="selected.length > 0" [ngStyle]="style">
    <cdk-virtual-scroll-viewport itemSize="58" class="h-100">
        <div *cdkVirtualFor="let item of selectedItems$ | async" class="pb-1">
            <div class="d-flex flex-nowrap align-items-center">
                <app-simple-preview class="w-100" [data]="item"></app-simple-preview>
                <div>
                    <button mat-icon-button (click)="remove(item.id)" type="button">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>