//http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5
$mat-adminsat: (
  50 : #feebe4,
  100 : #fccebc,
  200 : #fbad8f,
  300 : #f98c62,
  400 : #f77440,
  500 : #f65b1e,
  600 : #f5531a,
  700 : #f34916,
  800 : #f24012,
  900 : #ef2f0a,
  A100 : #ffffff,
  A200 : #ffe9e5,
  A400 : #ffbcb3,
  A700 : #ffa699,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
