<div class="p-1 p-lg-2 h-100 fadeInUp">
  <div *ngIf="loader" [innerHTML]="loaderContent" class="loader-container" id="internalLoader"></div>
  <mat-card class="main-card-container">
    <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup" id="messagingForm">
      <section class="mt-4" id="basic-data">
        <div class="grid grid-sm-2 title-grid">
          <h2 class="dark info-subtitle">
            {{ "BASIC_DATA" | translate }}
          </h2>
        </div>

        <div class="grid grid-md-2 mt-3">
          <div *ngIf="clients.length > 1" class="w-100">
            <adms-select [ctrl]="formGroup.get('cliente')" [options]="clients" placeholder="{{ 'CLIENT' | translate }}"
              required="true">
            </adms-select>
          </div>

          <adms-select [ctrl]="formGroup.get('activo')" [options]="assets" placeholder="{{'ASSET' | translate}}"
            required="true">
          </adms-select>

          
          <adms-select [ctrl]="formGroup.get('device')" mainKey="tipo_equipo_nombre" [options]="devices" placeholder="{{'DEVICES' | translate}}"
            required="true">
          </adms-select>

          <mat-form-field class="grid-col">
            <textarea  #contentMessage formControlName="content" matInput maxlength="144" placeholder="{{'CONTENT'|translate}}" required
              type="text">
            </textarea>
            <mat-hint align="end">
              {{ contentMessage.value?.length || 0 }}/144
            </mat-hint>
            <mat-error>
              {{ formStatus?.content | translate }}
            </mat-error>
          </mat-form-field>

        </div>
      </section>
    </form>
  </mat-card>
</div>