<form *ngIf="validLink; else invalid" class="text-center" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <p class="w-100 text-justify ">{{'PASSWORD_RESET_SET'|translate}}</p>
  <p class="w-100 mb-2 text-justify ">{{'PASSWORD_REGEX_ERROR'|translate}}</p>

  <mat-form-field class="w-100" appearance="fill">
    <mat-label>{{ 'NEW_PASSWORD' | translate }}</mat-label>
    <input matInput formControlName="new_password" [type]="hidePass ? 'password' : 'text'">
    <mat-icon class="cursor-pointer" matSuffix (click)="hidePass = !hidePass">
      {{hidePass ? 'visibility' : 'visibility_off'}}
    </mat-icon>
    <mat-error>
      {{formStatus?.new_password|translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mt-2" appearance="fill">
    <mat-label>{{ 'CONFIRM_NEW_PASSWORD' | translate }}</mat-label>
    <input matInput formControlName="confirm_new_password" [type]="hidePass ? 'password' : 'text'">
    <mat-error>
      {{formStatus?.confirm_new_password|translate}}
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button class="w-100 no-outline mt-2" color="primary">
    {{ 'SEND' | translate }}
  </button>

  <a class="w-100 no-outline text-decoration-none mt-2" mat-button routerLink="/public/login">
    {{ 'CANCEL' | translate }}
  </a>
</form>

<ng-template #invalid>
  <p class="text-justify">{{detail}}</p>

  <a routerLink="/public/login" mat-raised-button class="w-100 no-outline text-decoration-none mt-2" color="primary">
    {{ 'LOGIN' | translate}}
  </a>

  <a class="w-100 no-outline text-decoration-none mt-2" mat-button routerLink="/public/forgotten-password">
    {{ 'NEW_LINK' | translate }}
  </a>
</ng-template>
