<div class="header-dashboard-wrapper">
  <h1 class="mat-title mb-0 text-ellipsis">{{'MY_FLEET'|translate}}</h1>

  <div class="client">
    <ng-container *ngIf="selectClientsOptions?.length > 1">
      <adms-select panelClass="w-100 d-down-md-none" [ctrl]="clientCrtl" required="true"
                   floatLabel="never" [options]="selectClientsOptions" placeholder="{{'CLIENTS' | translate}}">
      </adms-select>

      <button class="d-lg-none" mat-icon-button (click)="openClientSelectorForMobile()">
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
    </ng-container>
  </div>

  <button (click)="sendHeaderClick('refresh')" mat-icon-button type="button">
    <mat-icon matTooltipShowDelay="300" matTooltip="{{'REFRESH'|translate}}">refresh</mat-icon>
  </button>

</div>
