<div *ngIf="selected.length > 0" [ngStyle]="style">
  <cdk-virtual-scroll-viewport itemSize="58" class="h-100">
    <div *cdkVirtualFor="let asset of selectedItems$ | async" class="pb-1">
      <div class="d-flex flex-nowrap align-items-center">
        <adms-asset-preview class="w-100" [data]="asset"></adms-asset-preview>
        <div>
          <button mat-icon-button (click)="remove(asset.id)" type="button">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>