@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~src/assets-sources/scss/app/mixins/flex";

.header-list-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 8px;
  height: 100%;

  .header-select-all {
    .mat-checkbox {
      &,
      label {
        margin: 0;
      }
    }
  }

  &:not(.searchMode) {
    .header-list-title {
      max-width: 280px;
    }
  }

  .header-list-title {
    @include flexbox();
    @include flex-direction(column);

    h1 {
      line-height: 1;
      margin-bottom: 0.25rem;
    }

    small {
      line-height: 1;
      font-size: 0.75rem;
    }

  }

  .search-container {
    width: 250px;
    font-size: 0.94rem;
  }

    .header-list-create {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }

  @include media-breakpoint-down(lg) {
    .search-container {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    .header-list-wrapper {
      &:not(.searchMode) {
        .header-list-title {
          max-width: 180px;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .header-list-title {
      h1 {
        font-size: 1rem;
      }
    }
  }
}

:host ::ng-deep {
  .header-list-wrapper {
    .mat-checkbox {
      margin: 0 8px !important;

      label {
        margin: 0;
      }
    }

    @include media-breakpoint-down(lg) {
      .search-container {
        .mat-form-field-wrapper {
          padding-bottom: 0 !important;

          .mat-form-field-underline {
            bottom: 3px;
          }

          .mat-form-field-infix {
            border-top: 0;

            .mat-form-field-label-wrapper {
              padding: 0;

              .mat-form-field-label {
                margin: 0;
                top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.mat-icon-file {
  width: 24px;
  margin-right: 16px;
  vertical-align: middle;
}
