<div class="filter-bottom-sheet">
  <div class="filter-bottom-sheet-title">
    <h5>{{'FILTER_WORKDAYS'| translate}}</h5>
    <mat-divider></mat-divider>
  </div>

  <form [formGroup]="formGroup" class="grid grid-md-3 align-items-center pt-3" id="filterForm">

    <adms-select *ngIf="data?.clients?.length >1" [ctrl]="formGroup.get('cliente__in')" [multiple]="true"
      [options]="data.clients" placeholder="{{'CARRIER'|translate}}">
    </adms-select>


    <mat-form-field>
      <mat-chip-list #placa formControlName="placa__in">
        <mat-chip (removed)="chipRemove('placa__in',name)" *ngFor="let name of formGroup.get('placa__in').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('placa__in',$event,50)" (paste)="chipPaste('placa__in',$event,50)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="placa" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="{{'PLATE'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_50'| translate}}</mat-hint>
    </mat-form-field>


    <mat-form-field>
      <mat-chip-list #origen formControlName="origen__in">
        <mat-chip (removed)="chipRemove('origen__in',name)" *ngFor="let name of formGroup.get('origen__in').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('origen__in',$event)" (paste)="chipPaste('origen__in',$event)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="origen" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="{{'ORIGIN'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_5'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #destino formControlName="destino__in">
        <mat-chip (removed)="chipRemove('destino__in',name)" *ngFor="let name of formGroup.get('destino__in').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('destino__in',$event)" (paste)="chipPaste('destino__in',$event)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="destino"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" placeholder="{{'DESTINATION'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_5'| translate}}</mat-hint>
    </mat-form-field>


    <mat-form-field>
      <mat-chip-list #via formControlName="via__in">
        <mat-chip (removed)="chipRemove('via__in',name)" *ngFor="let name of formGroup.get('via__in').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('via__in',$event)" (paste)="chipPaste('via__in',$event)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="via" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="{{'WAY'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_5'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #actor formControlName="actor_vial__in">
        <mat-chip (removed)="chipRemove('actor_vial__in',name)"
         *ngFor="let name of formGroup.get('actor_vial__in').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('actor_vial__in',$event)" (paste)="chipPaste('actor_vial__in',$event)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="actor" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="{{'ROAD_ACTOR'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_5'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'TOTAL_WORKDAYS'|translate}}"
        formControlName="total_workdays__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'TOTAL_RESTDAYS'|translate}}"
        formControlName="total_restdays__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'CURRENT_DURATION_GTE'|translate}}"
             formControlName="current_duration__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'CURRENT_DURATION_LTE'|translate}}"
             formControlName="current_duration__lte">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="status" placeholder="{{'STATE'|translate}}">
        <mat-option value="">--</mat-option>
        <mat-option value="0">{{"WORKDAY"|translate}}</mat-option>
        <mat-option value="1">{{"REST"|translate}}</mat-option>
        <mat-option value="2">{{"FINISH"|translate}}</mat-option>
        <mat-option value="3">{{"PAUSED"|translate}}</mat-option>
        <mat-option value="4">{{"CANCELLED"|translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="status_color" placeholder="{{'STATUS_COLOR'|translate}}">
        <mat-option value="">--</mat-option>
        <mat-option value="0">{{"ON_TIME"|translate}}</mat-option>
        <mat-option value="1">{{"ENDING"|translate}}</mat-option>
        <mat-option value="2">{{"DELAYED"|translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div class="filter-bottom-sheet-controls">
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <button (click)="close($event,false, false)" class="m-1" mat-button type="button">
        {{'CANCEL'| translate}}
      </button>
      <button class="m-1" form="filterForm" mat-raised-button type="reset">{{'CLEAR'| translate}}</button>
      <button (click)="close($event,true, true)" class="m-1" color="primary" mat-raised-button type="button">
        {{'FILTER'| translate}}
      </button>
    </div>
  </div>
</div>
