<div class="filter-bottom-sheet">
  <div class="filter-bottom-sheet-title">
    <h5>{{'FILTER_PERMANENCES'| translate}}</h5>
    <mat-divider></mat-divider>
  </div>

  <form [formGroup]="formGroup" class="grid grid-md-3 align-items-center pt-3" id="filterForm">

    <adms-select *ngIf="data?.clients?.length >1" [ctrl]="formGroup.get('cliente')" [multiple]="true"
      [options]="data.clients" placeholder="{{'CARRIER'|translate}}">
    </adms-select>


    <mat-form-field>
      <mat-chip-list #placa formControlName="placa">
        <mat-chip (removed)="chipRemove('placa',name)" *ngFor="let name of formGroup.get('placa').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('placa',$event,50)" (paste)="chipPaste('placa',$event,50)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="placa" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="{{'PLATE'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_50'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #ordenCargue formControlName="orden_cargue">
        <mat-chip (removed)="chipRemove('orden_cargue',name)"
                  *ngFor="let name of formGroup.get('orden_cargue').value"
                  removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('orden_cargue',$event,50)"
               (paste)="chipPaste('orden_cargue',$event,50)"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="ordenCargue"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="{{'SHIFT_ASSIGNMENTS'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_50'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #trailer formControlName="remolque">
        <mat-chip (removed)="chipRemove('remolque',name)"
                  *ngFor="let name of formGroup.get('remolque').value"
                  removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('remolque',$event,50)"
               (paste)="chipPaste('remolque',$event,50)"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="trailer"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="{{'TRAILER'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_50'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #zonaControl formControlName="zona_control_nombre">
        <mat-chip (removed)="chipRemove('zona_control_nombre',name)"
                  *ngFor="let name of formGroup.get('zona_control_nombre').value"
                  removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('zona_control_nombre',$event,50)"
               (paste)="chipPaste('zona_control_nombre',$event,50)"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="zonaControl"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="{{'CONTROL_ZONES'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_50'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'ALERT_GTE'|translate}}"
        formControlName="alert_gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'ALERT_LTE'|translate}}"
        formControlName="alert_lte">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="vehiculo_seguro" placeholder="{{'SAFE_VEHICLE'|translate}}">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let item of choices.secure" [value]="item.id" class="text-capitalize">
          {{item.value|translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div class="filter-bottom-sheet-controls">
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <button (click)="close($event,false, false)" class="m-1" mat-button type="button">
        {{'CANCEL'| translate}}
      </button>
      <button class="m-1" form="filterForm" mat-raised-button type="reset">{{'CLEAR'| translate}}</button>
      <button (click)="close($event,true, true)" class="m-1" color="primary" mat-raised-button type="button">
        {{'FILTER'| translate}}
      </button>
    </div>
  </div>
</div>
