
.info-subtitle-2 {
  padding: 10px;
  margin-right: 48px;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 30px;
  font-size: 0.8rem;
  line-height: 11px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info-subtitle-2:before {
  content: '';
  position: absolute;
  top: 0;
  right: -40px;
  width: 0;
  height: 30px;
  border-top: 0 solid transparent;
  border-bottom: 29px solid transparent;
}


