<div class="filter-bottom-sheet">
  <div class="filter-bottom-sheet-title">
    <h5>{{'FILTER_NOVELTYS'| translate}}</h5>
    <mat-divider></mat-divider>
  </div>

  <form [formGroup]="formGroup" class="grid grid-md-3 align-items-center pt-3" id="filterForm">

    <adms-select *ngIf="data?.clients?.length >1" [ctrl]="formGroup.get('cliente__in')" [multiple]="true"
                 [options]="data.clients"  placeholder="{{'CLIENT'|translate}}">
    </adms-select>

    <mat-form-field >
      <mat-chip-list #nombre formControlName="nombre__in">
        <mat-chip (removed)="chipRemove('nombre__in',name)"
                  *ngFor="let name of formGroup.get('nombre__in').value"
                  removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('nombre__in',$event)"
               (paste)="chipPaste('nombre__in',$event)"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="nombre"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="{{'NAME'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_5'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field >
      <mat-chip-list #novedad_padre_nombre formControlName="novedad_padre_nombre__in">
        <mat-chip (removed)="chipRemove('novedad_padre_nombre__in',name)"
                  *ngFor="let name of formGroup.get('novedad_padre_nombre__in').value"
                  removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('novedad_padre_nombre__in',$event)"
               (paste)="chipPaste('novedad_padre_nombre__in',$event)"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="novedad_padre_nombre"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="{{'NOVELTY_PARENT'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_5'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field >
      <mat-label>{{'LEVEL'|translate}}</mat-label>
      <mat-select formControlName="primer_nivel">
        <mat-option [value]="null">----</mat-option>
        <mat-option [value]="true">{{'FIRST_LEVEL'|translate}}</mat-option>
        <mat-option [value]="false">{{'SECOND_LEVEL'|translate}}</mat-option>
      </mat-select>
    </mat-form-field>


  </form>
</div>

<div class="filter-bottom-sheet-controls">
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <button (click)="close($event,false, false)" class="m-1" mat-button type="button">
        {{'CANCEL'| translate}}
      </button>
      <button class="m-1" form="filterForm" mat-raised-button
              type="reset">{{'CLEAR'| translate}}</button>
      <button (click)="close($event,true, true)" class="m-1" color="primary" mat-raised-button type="button">
        {{'FILTER'| translate}}
      </button>
    </div>
  </div>
</div>



