$paper_color: #e7e7e7;
$grey_color: #ededed;
$text_grey_color: #B7B7B7;
$dark_color: #303030;

$info_text: #333333;


$marker_focus_color: #008EFF;
$marker_ign_on_color: #24BC24;
$marker_ign_off_color: #ff0000;

$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;

$max-content-width: 1200px !important;

$sides: (l: left, r: right, t: top, b:bottom);

//$grid-device-breakpoints: (handset: 0, tablet: 576px, md: 768px, lg: 960px, xl: 1200px)
