<h1 class="mb-0" mat-dialog-title>{{'NEW_OBSERVATION'|translate}}</h1>

<mat-divider class="mt-3 mb-2"></mat-divider>

<div class="w-600-px  py-2" mat-dialog-content>

  <adms-ph *ngIf="loading; else loaded" mode="form"></adms-ph>

  <ng-template #loaded>
    <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup"
          id="workObservationForm">
      <div class="grid grid-md-2 align-items-center">


        <mat-form-field class="w-100">
          <input formControlName="added_time" matInput min="0"  placeholder="{{'TIME'|translate}} (h)"
                 type="number"/>
          <mat-error>
            {{ formStatus?.added_time | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="grid-col">
          <textarea formControlName="observation" matInput placeholder="{{'OBSERVATION'|translate}}"
                    required type="text">
          </textarea>
        <mat-error>
          {{formStatus?.observation| translate}}
        </mat-error>
      </mat-form-field>

      </div>
    </form>
  </ng-template>
</div>

<mat-divider class="mt-3 mb-2"></mat-divider>

<div mat-dialog-actions class="justify-content-end">
  <button class="m-1" mat-button type="button" mat-dialog-close>
    {{'CANCEL'| translate}}
  </button>
  <button *ngIf="!loading" class="m-1" color="primary" form="workObservationForm" mat-raised-button type="submit">
    {{'SAVE'| translate}}
  </button>
</div>

