<div class="p-1 p-lg-2 h-100 fadeInUp">

  <div *ngIf="loader" [innerHTML]="loaderContent" class="loader-container" id="internalLoader"></div>

  <mat-card class="main-card-container">
    <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup" id="myAvgRiskForm">
      <div class="grid grid-lg-2 align-items-start py-2 px-0">

        <div>
          <h2 class="dark info-subtitle">{{'RANGE' | translate}}</h2>
          <div class="p-2 mt-3">
            <adms-date-time-range [formGroup]="formGroup"></adms-date-time-range>
          </div>
        </div>

        <div>
          <h2 class="dark info-subtitle">{{'ROAD_ACTORS' | translate}}</h2>
          <div class="p-2 mt-3">
            <adms-select *ngIf="clients.length > 1" [ctrl]="formGroup.get('cliente')" [options]="clients"
                         placeholder="{{'CLIENT'|translate}}"
                         required="true">
            </adms-select>

            <div class="mt-3">
              <div class="d-flex flex-nowrap  align-items-center flex-row">
                <adms-select [ctrl]="formGroup.get('actores_viales')" [options]="roadActorOptions" required="true"
                             class="w-100" multiple="true" placeholder="{{'ROAD_ACTORS' | translate}}">
                </adms-select>
                <button (click)="addAllRoadActors()" matTooltipShowDelay="300" matTooltip="{{'SELECT_ALL'|translate}}"
                        mat-icon-button type="button">
                  <mat-icon>select_all</mat-icon>
                </button>
                <button (click)="formGroup.get('actores_viales').reset([])" matTooltipShowDelay="300"
                        matTooltip="{{'UNSELECT_ALL'|translate}}" mat-icon-button type="button">
                  <mat-icon>clear_all</mat-icon>
                </button>
              </div>
              <adms-road-actor-associations-preview (disassociate)="formGroup.get('actores_viales').reset($event)"
                                                    [confirmDisassociation]="false"
                                                    [items]="roadActorOptions"
                                                    [selected]="formGroup.get('actores_viales').value">
              </adms-road-actor-associations-preview>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>

