<div class="p-1 p-lg-2 h-100 fadeInUp">

  <mat-card class="mw-md-400-px mb-1 mh-100 overflow-auto">
    <p class="col-12 text-justify">{{'PASSWORD_CHANGE_MESSAGE'| translate}}</p>
    <p class="col-12 mb-2 text-justify ">{{'PASSWORD_REGEX_ERROR'|translate}}</p>

    <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup">
      <mat-form-field class="col-12 mt-4">
        <input [type]="hidePass ? 'password' : 'text'" formControlName="password" matInput
               placeholder="{{'CURRENT_PASSWORD'|translate}}" required>
        <mat-icon matSuffix class="cursor-pointer" (click)="hidePass  = !hidePass ">
          {{hidePass ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error>
          {{formStatus?.password|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-12 mt-4">
        <input [type]="hidePass ? 'password' : 'text'" formControlName="new_password" matInput
               placeholder="{{'NEW_PASSWORD'|translate}}" required>
        <mat-error>
          {{formStatus?.new_password|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-12 mt-4">
        <input [type]="hidePass ? 'password' : 'text'" formControlName="confirm_new_password" matInput
               placeholder="{{'CONFIRM_NEW_PASSWORD'|translate}}" required>
        <mat-error>
          {{formStatus?.confirm_new_password|translate}}
        </mat-error>
      </mat-form-field>

      <div class="col-12 mt-3">
        <button type="submit" class="w-100" mat-raised-button color="primary">{{'SEND'|translate}}</button>
      </div>
    </form>
  </mat-card>

</div>



