<mat-card [class.list-item-selected]="installations?.isSelected" [class.hasClient]="viewClienInfo" class="installations-item-wrapper" matRipple>
    <div *ngIf="actionsCapabilities?.delete" class="selector pr-2 pr-md-0">
      <mat-checkbox *ngIf="actionsCapabilities?.delete" (change)="checkedItem($event.checked)" [(ngModel)]="installations.isSelected" color="primary">
      </mat-checkbox>
    </div>

    <div class="name">
      <h2 class="installations-name align-middle">
        {{ installations?.name }}
      </h2>

    </div>

    <div *ngIf="viewClienInfo" class="client">
      <div  class="small">
        <span class="font-weight-bold mr-1">{{ "CLIENT" | translate }}:</span>
        {{ installations?.cliente_nombre }}
      </div>

    </div>

    <button [matMenuTriggerFor]="detailsMenu" class="more" mat-icon-button type="button">
        <mat-icon>more_vert</mat-icon>

        <mat-menu #detailsMenu="matMenu">
          <button (click)="openDetailDialog(installations?.id)" *ngIf="permissionsService.hasPermission(permissions.subinstalacion.ver)" mat-menu-item type="button">
            <mat-icon>info_outline</mat-icon>
            <span>{{ "VIEW_SUB_INSTALLATIONS" | translate }}</span>
          </button>


          <button *ngIf="actionsCapabilities?.edit" (click)="openEditDialog(installations?.id)" mat-menu-item type="button">
            <mat-icon>edit</mat-icon>
            <span>{{ "EDIT" | translate }}</span>
          </button>
          <!-- <a
            *ngIf="actionsCapabilities?.edit"
            [routerLink]="['form', installations?.id]"
            class="text-decoration-none"
            mat-menu-item
          >
            <mat-icon>edit</mat-icon>
            <span>{{ "EDIT" | translate }}</span>
          </a> -->
        </mat-menu>
      </button>

  </mat-card>
