
body:not(.dark) {
  .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    color: mat-color($primary, default-contrast) !important;
    background-color: mat-color($primary) !important;
  }

  .owl-dt-container-buttons {
    color: mat-color($foreground, text) !important;
  }

}
