body:not(.dark) {
  header {

    .header-logo-container {
      background-color: mat-color($background, card);
    }

    .header-profile-button {
      background-color: mat-color($background, card);
    }

    @include media-breakpoint-down(md) {
      .header-router-wrapper {
        background-color: mat-color($background, card) !important;
      }
    }
  }
}
