@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "./src/assets-sources/scss/app/utilities/variables";
@import "~src/assets-sources/scss/app/mixins/flex";

.zones-item-wrapper {
  display: grid;
  column-gap: 8px;
  grid-template-columns: auto 1fr auto;
  margin: auto;
  align-items: center;
  min-height: 72px;
  max-width: 1000px !important;


  &.hasClient {
    grid-template-columns: auto 1fr 1fr auto;

  }

  .zones-name {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }



}
