<div class="filter-bottom-sheet">
  <div class="filter-bottom-sheet-title">
    <h5>{{'FILTER_ECU_ALARMS'| translate}}</h5>
    <mat-divider></mat-divider>
  </div>

  <form [formGroup]="formGroup" class="grid grid-md-3 align-items-center pt-3" id="filterForm">

    <adms-select *ngIf="data?.clients?.length >1" [ctrl]="formGroup.get('cliente__in')" [multiple]="true"
      [options]="data.clients" placeholder="{{'CARRIER'|translate}}">
    </adms-select>


    <mat-form-field>
      <mat-chip-list #placa formControlName="placa__in">
        <mat-chip (removed)="chipRemove('placa__in',name)" *ngFor="let name of formGroup.get('placa__in').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('placa__in',$event,50)" (paste)="chipPaste('placa__in',$event,50)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="placa" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="{{'PLATE'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_50'| translate}}</mat-hint>
    </mat-form-field>

     <mat-form-field>
      <mat-select formControlName="value_name" placeholder="{{'EVENT_TYPE'|translate}}">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let item of data?.choices" value="{{item.id}}"
                    class="text-capitalize">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field>
      <mat-chip-list #actor formControlName="actor_vial__in">
        <mat-chip (removed)="chipRemove('actor_vial__in',name)"
         *ngFor="let name of formGroup.get('actor_vial__in').value"
          removable="true" selectable="true">
          {{name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="chipAdd('actor_vial__in',$event)" (paste)="chipPaste('actor_vial__in',$event)"
          [matChipInputAddOnBlur]="true" [matChipInputFor]="actor" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="{{'ROAD_ACTOR'|translate}}">
      </mat-chip-list>
      <mat-hint>{{'MAX_5'| translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{ 'DATE_FROM' | translate }}</mat-label>
      <input #dtFrom [max]="formGroup.get('report_dt__gte').value" [owlDateTime]="dtRangeFrom"
             [owlDateTimeTrigger]="dtRangeFrom"
             formControlName="report_dt__lte" matInput >
      <button (click)="formGroup.get('report_dt__lte').reset(null);" *ngIf="dtFrom.value" mat-icon-button matSuffix
              type="button">
        <mat-icon>clear</mat-icon>
      </button>
      <button [owlDateTimeTrigger]="dtRangeFrom" mat-icon-button matSuffix type="button">
        <mat-icon>calendar_today</mat-icon>
      </button>
      <mat-error>
        {{formStatus?.report_dt__lte|translate}}
      </mat-error>
      <owl-date-time #dtRangeFrom></owl-date-time>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{ 'DATE_TO' | translate }}</mat-label>
      <input #dtTo [min]="formGroup.get('report_dt__gte').value" [max]="today" [owlDateTime]="dtRangeTo"
             [owlDateTimeTrigger]="dtRangeTo" formControlName="report_dt__lte" matInput >
      <button (click)="formGroup.get('report_dt__lte').reset(null);" *ngIf="dtTo.value" mat-icon-button matSuffix
              type="button">
        <mat-icon>clear</mat-icon>
      </button>
      <button [owlDateTimeTrigger]="dtRangeTo" mat-icon-button matSuffix type="button">
        <mat-icon>calendar_today</mat-icon>
      </button>
      <mat-error>
        {{formStatus?.report_dt__lte|translate}}
      </mat-error>
      <owl-date-time #dtRangeTo></owl-date-time>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'REPORT_VALUE_LTE'|translate}}"
        formControlName="report_value__lte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'REPORT_VALUE_GTE'|translate}}"
        formControlName="report_value__gte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'ALARM_VALUE_LTE'|translate}}"
        formControlName="alarm_value__lte">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="{{'ALARM_VALUE_GTE'|translate}}"
        formControlName="alarm_value__gte">
    </mat-form-field>
    
  </form>
</div>

<div class="filter-bottom-sheet-controls">
  <mat-divider class="mt-2 mb-2"></mat-divider>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <button (click)="close($event,false, false)" class="m-1" mat-button type="button">
        {{'CANCEL'| translate}}
      </button>
      <button class="m-1" form="filterForm" mat-raised-button type="reset">{{'CLEAR'| translate}}</button>
      <button (click)="close($event,true, true)" class="m-1" color="primary" mat-raised-button type="button">
        {{'FILTER'| translate}}
      </button>
    </div>
  </div>
</div>
